<% @ingredient = '' %>
<% if params[:ingredients] %>
  <% params[:ingredients].each do |i| %>
    <% @ingredient += i + "    " %>
  <% end %>
<% end %>
<% @ingred = @ingredient.gsub("    ", "\r\n") %>

<%= form_for(@list) do |f| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h5>

      <ul>
      <% list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipe_name, 'Recipe Name' %>
    <%= f.text_field :recipe_name, :value => params[:title] %>

    <% params[:ingredients] %>
    <% ingred = params[:ingredients] %>

    <%= f.label :ingredient, 'Ingredients' %>
    <%= f.text_area :ingredient, :rows => 8, :value => @ingred %>

    <%= f.hidden_field :user_id, :value=>current_user.id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
