<% require "http" %>
<% require "json" %>

<h1 id="header" class="text-center">Quick-Bytes</h1>

<% if params[:search] %>
  <% search = params[:search].gsub(" ", "+") %>
<% end %>

<% json = HTTP.get("https://api.edamam.com/search?q=#{search}&app_id=#{ENV['API_ID']}&app_key=#{ENV['API_KEY']}") %>
<% recipes = JSON.parse(json) %>
<% recipe_list = recipes['hits'] %>

<div id="search box" class="row">
  <div class="small-10 small-centered large-6 large-centered text-center columns">
    <%= form_tag(users_path, :method => "get", id: "search-form" ) do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
  </div>
</div>

<br><br>
<div id="list" class="row">
  <div class="small-10 small-centered large-6 large-centered columns">
    <% recipe_list.each do |recipe|  %>
      <h2><%= recipe['recipe']['label'] %></h2>
      <img src="<%= recipe['recipe']['image'] %>" height="200" width="200"><br>
      Servings: <%= recipe['recipe']['yield'].to_i %><br>
      Calories: <%= recipe['recipe']['calories'].to_i %>
      <h4>Ingredients:</h4>
      <% recipe['recipe']['ingredientLines'].each do |ingred| %>
        <%= ingred %><br>
      <% end %>
    <% end %>
  </div>
</div>
