<!DOCTYPE html>
<html>
  <head>
    <title>QuickBytes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'map', media: 'all' %>
    <%= stylesheet_link_tag    'nav-bar' %>
    <%= stylesheet_link_tag    'list' %>
    <%= stylesheet_link_tag    'search-bar' %>
    <%= stylesheet_link_tag    'favorites' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body>
    <div class="nav-bar">
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign up', new_user_registration_path %>
        /
        <%= link_to 'Sign In', new_user_session_path %>
      <% end %>
      /
      <%= link_to 'Search Recipes', root_path %>
      /
      <%= link_to 'Google Map', maps_path %>

      <div id="right-nav">
        <% if user_signed_in? %>
          <%= link_to 'My Lists', lists_path %>
          <div id="favorites">
            <%= link_to 'Favorites', favorites_path %>
          </div>
          <div id="account">
            <%= link_to 'My Account', edit_user_registration_path %>
          </div>
        <% end %>
      </div>

      <div id="center-nav">
        <% if user_signed_in? %>
          Welcome, <%= current_user.first_name  %>!
        <% end %>
      </div>

    </div>
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCDI2rLj-myQjGe6zc5eXShgtAOlzMbKU&callback=initMap">
    </script>

    <%= yield %>
  </body>
</html>
