<!DOCTYPE html>
<html>
  <head>
    <title>QuickBytes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>

      $(document).ready(function(){
        $(".option").hide();

        $([10,11,12,13,14,15,16,17,18,19,]).each(function(i, e){
          $(`#${i}`).click(function(){
            $(`#${e}`).slideToggle("slow");
          });
        });
      });
    </script>
  </head>

  <body>
    <div class="nav-bar">
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign up', new_user_registration_path %>
        /
        <%= link_to 'Sign In', new_user_session_path %>
      <% end %>
      /
      <%= link_to 'Search Recipes', root_path %>

      <div id="center-nav">
        <% if user_signed_in? %>
          Welcome, <%= current_user.first_name  %>!
        <% end %>
      </div>

      <div id="right-nav">
        <% if user_signed_in? %>
          <%= link_to 'My Lists', lists_path %>
        <% end %>
      </div>

    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
